:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: atialliased;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5em 0;
}

img {
  width: 100%;
}

.offer {
  background-color: white;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.offer .new {
  color: white;
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.offer .description {
  color: black;
  font-size: 18px;
}

.description .price {
  font-size: 20px;
  font-weight: 900;
}

.offer .more {
  font-size: 14px;
  font-weight: 800;
  color: #1d7cf2;
  margin-left: 1%;
}

.offer .more:hover {
  cursor: pointer;
}

.showcase {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("/img/background.jpg") no-repeat center center/cover;
}

.showcase:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0vw 15vh 10vh rgba(0, 0, 0, 0.6),
    inset -0vw -0vh 0vw rgba(0, 0, 0, 0);
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 4.5rem;
}

.showcase-top img {
  width: 9rem;
  position: relative;
  top: 50%;
  margin-left: 6vw;
}

.btn-container {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translate(-50, -50);
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.lang-btn {
  width: max-content;
  display: flex;
  justify-content: center;
  cursor: default;
  align-items: center;
  border: 0.5px solid #ccc;
  border-radius: 2px;
  background-color: transparent;
  font-size: 13px;
  padding: 9px 9px;
}

.lang-btn span {
  padding: 0 1px 0 4px;
  width: 55px;
}

.btn-container .fa-globe {
  font-size: 12px;
}

.lang-list {
  position: absolute;
  width: 46%;
  background-color: #999;
  color: white;
  border-radius: 6px;
  overflow: hidden;
}

.lang-list .lang {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-list .lang:hover {
  background-color: #1d7cf2;
  cursor: default;
}

.hide-list {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.4rem 1rem;
  text-align: center;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.btn-rounded {
  border-radius: 3px;
}

.btn-xl {
  font-size: 1.62rem;
  padding: 13px 21px;
}

.btn-icon {
  margin-left: 5px;
  font-size: 20px;
}

.btn-lg {
  font-size: 3vh;
  padding: 2.5vh 3.25vh;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 0.9;
}

.showcase-content {
  max-width: 950px;
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 145px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showcase-content h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 1vh;
}

.showcase-content p {
  font-size: 1.62rem;
  color: #fff;
  font-weight: 400;
  margin: 10px 0 18px;
}

.cta {
  margin-top: 18px;
  font-weight: 400;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  text-align: start;
}

.start .start_input {
  background-color: white;
  height: 52px;
  width: 455px;
  position: relative;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  overflow: hidden;
}

.start .start_input .input_text {
  position: relative;
  top: 18px;
  padding-left: 5px;
  transition: linear 0.1s;
  z-index: 3;
}

.move-text {
  top: 3px !important;
  font-size: 14px;
  color: #757575;
}

.start .start_input input {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  position: relative;
  bottom: 10px;
  border: none;
  outline: none;
  font-size: 20px;
}

.start .start_input input:focus {
  border: none;
  outline: none;
}

.start .btn-start {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.tab {
  border-top: 7px solid #393939;
  padding: 70px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}

.tab-contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 42vw;
}

.tab-contant h2 {
  font-size: 3rem;
}

.tab .tab-contant p {
  margin-top: 18px;
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  line-height: 1.3;
}

.imgVideo-container {
  width: 40vw;
  position: relative;
}

.imgVideo-container img {
  width: 100%;
}

.tv-video {
  width: 72%;
  position: absolute;
  bottom: 78px;
  left: 53px;
  z-index: -1;
}

.gadget-tab {
  gap: 5vw;
}

.gadget-video {
  width: 61%;
  position: absolute;
  bottom: 141px;
  left: 74px;
  z-index: -1;
}

.kids {
  width: 40vw;
}

.phoneContainer {
  width: 40vw;
  position: relative;
}

.downloading {
  position: absolute;
  padding: 0.5em 0.75em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
  box-shadow: 0 0 2em 0 #000;
  min-width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  left: 19%;
  bottom: 8%;
  background-color: black;
}

.boxshotImg {
  width: 51px;
  margin-right: 1em;
}

.downloading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.downloading-text .title {
  color: white;
  font-weight: 500;
  font-size: 1em;
}

.downloading-text .status {
  color: #0071eb;
  font-weight: 400;
  font-size: 0.9em;
}

.downloading-gif {
  width: 3em;
  height: 3em;
}

.boxshot-content {
  margin-right: 65px;
}

.qandA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  line-height: 1.1;
  text-align: center;
}

.qandA h1 {
  font-size: 3.12em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.questions {
  margin: 2em auto;
  color: white;
}

.qandA-container {
  margin-bottom: 8px;
  font-size: 1.62rem;
}

.question {
  width: 100%;
  font-weight: 400;
  margin-bottom: 1px;
  padding: 0.8em 2.2em 0.8em 1.2em;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question:hover {
  cursor: pointer;
}

.answer {
  background-color: #303030;
  width: 100%;
  line-height: 1.1;
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  max-height: 0;
  overflow: hidden;
}

.qandA-container > div > .fa-xmark {
  display: none;
}

.fa-plus {
  display: inline-block;
}

.showAnswer > div > .fa-xmark {
  display: inline-block;
}

.showAnswer > div > .fa-plus {
  display: none !important;
}

.showAnswer > .answer {
  max-height: 1200px;
}

.answer-content {
  padding: 1.2em;
  display: inline-block;
}

.cta-container {
  margin-top: 30px;
  max-width: 950px;
  padding-top: 0.85rem;
}

.qandA .cta {
  color: white;
  font-size: 1.2rem;
  max-width: none;
  padding-bottom: 20px;
  font-weight: 400;
}

.lastTab {
  border-bottom: 7px solid #393939;
}

.footer {
  width: 75%;
  padding: 70px 45px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: auto;
}

.footer,
footer a {
  color: #737373;
  font-size: 1em;
}

.footer p {
  margin-bottom: 5vh;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
}

.footer li {
  font-size: 13px;
  margin-bottom: 16px;
}

.footerLanguBtnContainer {
  margin-top: 20px;
}

.footerLanguBtnContainer .lang-container {
  width: max-content;
  position: relative;
}

.footerLanguBtnContainer .lang-btn {
  padding: 15px 15px;
  font-size: 16px;
  border: 1px solid #333;
}

.footerLanguBtnContainer .lang-btn:focus {
  border: 0.5px solid #ccc;
}

.footerLanguBtnContainer .lang-btn span {
  padding: 0 1px 0 11px;
  width: 70px;
}

.footerLanguBtnContainer .lang-list {
  background-color: transparent;
  color: #737373;
  width: 128px;
  bottom: 49px;
  border: 1px solid #333;
}

.footerLanguBtnContainer .lang-list .lang {
  margin-bottom: 0;
  font-size: 16px;
}

.footerLanguBtnContainer .lang-list .lang:hover {
  color: white;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1vh;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 3vh;
}

.text-dark {
  color: #999;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 950px) and (max-width: 1449px) {
  .showcase-top img {
    width: 8rem;
  }

  .cta {
    font-size: 1.2rem !important;
  }
  .showcase-content h1 {
    margin: 0 auto;
    font-size: 3.125rem;
    font-weight: 600;
    max-width: 640px;
  }
}

@media (max-width: 950px) {
  .showcase-top img {
    left: 2%;
    width: 6.8rem;
  }

  .hide-sm {
    display: none;
  }

  .showcase-content h1 {
    line-height: 1.1;
    font-size: 3.12rem;
    max-width: 640px;
  }

  .cta{
    max-width: 450px;
    font-size: 23px !important;
    padding: 0 10%;
  }

  .start{
    flex-direction: column;
    gap: 15px;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1rem;
    padding: 10px 14px;
  }

  .btn-start .btn-icon{
    font-size: 10px;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }
  .text-md {
    font-size: 1rem;
  }

  .tab{
    flex-direction: column;
    gap: 0;
  }

  .tab-contant h2{
    font-size: 2.5rem;
  }
  .tab .tab-contant p{
    font-size: 1.25rem;
    font-weight: 400;
  }

  .tab-contant{
    width: unset;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 1;
  }

  .imgVideo-container{
    width: unset;
    max-width: 1100px;
    order: 2;
  }

  .kids{
    order: 2;
    width: unset;
  }
  .phoneContainer{
    width: unset;
    order: 2;
  }
  .boxshot-content{
    margin-right: unset;
  }

  .qandA{
    width: 100%;
  }

  .qandA h1{
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .cta{
    font-size: 18px !important;
  }
  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 550px) {
  .showcase-top img {
    width: 6.5rem;
  }

  .showcase-content h1 {
    font-size: 1.75rem;
  }
  .showcase-content p {
    font-size: 1.125rem;
  }

  .cta{
    font-size: 17px !important;
    padding: 0 5%;
  }

  .start{
    flex-direction: column;
    gap: 15px;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1rem;
    padding: 10px 14px;
  }

  .btn-start .btn-icon{
    font-size: 10px;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }
  .text-md {
    font-size: 1rem;
  }

  .qandA h1{
    font-size: 1.62rem;
  }

  .qandA-container{
    font-size: 1.125rem;
  }
}


@media (max-width: 500px) {
  .offer {
    gap: 6px;
  }
  .offer .new {
    font-size:0.6rem;
  }
  .offer .description{
    font-size: 14px;
  }
  .description .price{
    font-size: 15px;
  }
  .start .start_input{
    width: 300px;
  }
}